<html>
<head>
	<meta charset="UTF-8">
	<title>Коледж ЧНУ імені Юрія Федьковича</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/pages/MainPage/css/style.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>
<body background="/pages/background.jpg">
	<% if (admin) { %>
	<span id="admin-panel">
		<p style="float: left;">
			Вітаємо, <%= adminId %>! 
			<p style="float: right;">
				<a href="/admin/postarticle">Додати статтю</a>
				|
				<a href="/admin/logout" onclick="return confirm('Ви дійсно хочете вийти?')">Вийти</a>
			</p>
		</p>
	</span>
	<% } %>
	<%- include("../header.ejs") %>
	<div id="main-panel">
		<%- include ../left.ejs %>

		<div id="content">
			<% if (maintenance) { %>
			<%- include ../temporary_not_working/index.ejs %>
			<% } else { %>
			<div id="director-part">
				<img src="/pages/MainPage/images/director.jpg" height="265px" />
				<div id="director-text">
					<p style="text-align: justify; text-indent: 36pt;"><span style="font-size: 10pt;">Коледж Чернівецького національного університету імені Юрія Федьковича є структурним підрозділом університету без статусу юридичної особи і надає освітні послуги, пов'язані з одержанням вищої освіти на рівні кваліфікаційних вимог до молодшого спеціаліста з одночасним наданням повної загальної середньої освіти. Наш навчальний заклад має відповідний рівень кадрового та матеріально-технічного забезпечення.<br/></span><span style="font-size: 10pt; text-indent: 36pt;">&nbsp; &nbsp; &nbsp;Юридичною датою створення Коледжу є 2001 рік, проте за такий короткий період існування він посів одне з провідних місць серед вищих навчальних закладів І-ІІ рівнів акредитації.</span></p>
					<p style="text-align: justify; text-indent: 36pt;"><em><span style="font-size: 10pt;">Директор Коледжу ЧНУ, доцент - О.В. Собчук</span></em></p>
					<p style="text-indent: 36pt; text-align: right;"><span style="font-size: 10pt;"><a href="http://college-chnu.cv.ua/article/5c5cdf31c1634b0eaed26c84">Детальніше</a></span></p>
				</div>
			</div>
			<div id="chnu-images">
				<img src="/pages/MainPage/images/chnu.jpg" width="780" height="248"/>
				<p>
					<a id="info-package" href="<%=info_package_link%>"><%=info_package_text%></a>
					<% if (admin) { %>
					<a href="/admin/edit-package-info">(редагувати)</a>
					<% } %>
				</p>
			</div>
			<div id="news-block">
				<p>
					<h1>Новини</h1>
					<% if (admin) { %>
					<a href="/admin/addnew" style="float: right;">(додати)</a>
					<% } %>
				</p>
				<ul>
					<% for (var i = 0; i < news.length; i++) { %>
					<li>
						<p style="font-size: 11px; position: absolute; top: 0; left: -15px;"><%= news[i].date.toISOString().split('T')[0] %></p>
						<div id="img-containter">
							<% if (admin) { %>
							<p>
								<a href="/admin/remove-news/<%=news[i]._id%>" style="position: relative; top: 0; left: -10;" onclick="return confirm('Підтверджуєте видалення новини?')">(видалити)</a>
								<a href="/admin/addnew/?id=<%=news[i]._id%>" style="position: relative; top: -10; left: -10;">(редагувати)</a>
							</p>
							<% } %>
							<img src="<%=news[i].image%>"/>
						</div>
						<p><%- news[i].text %></p>
					</li>
					<% } %>
				</ul>
			</div>
			<% if (pagesCount > 1) { %>
			<ul id="pages-list">
				<% if (pagesCount <= 10) { %>
					<% for (var i = 1; i < pagesCount + 1; i++) { %>
						<% if (page === i) { %>
							<li><%= i %></li>
						<% } else { %>
							<li><a href="/?page=<%=i%>"><%= i %></a></li>
						<% } %>

					<% } } else { %>
						<% if (page - 2 > 0) { %>
							<% if (page - 1 > 1) { %>
								<li><a href="/?page=1">1</a></li>
							<% } %>
							<li>...</li>
						<% } %>

						<% if (page - 1 > 0) { %>
							<li><a href="/?page=<%=page-1%>"><%= page - 1 %></a></li>
						<% } %>

						<li><%= page %></li>

						<% if (page + 1 !== pagesCount + 1) { %>
							<li><a href="/?page=<%=page+1%>"><%= page + 1 %></a></li>
						<% } %>
						<% if (page + 2 <= pagesCount + 1 && page !== pagesCount - 1) { %>
							<li>...</li>
						<% } %>
						<% if (page + 3 <= pagesCount + 1) { %>
							<li><a href="/?page=<%=pagesCount%>"><%= pagesCount %></a></li>
						<% } %>
				<% } %>
			</ul>
			<% } %>
			<% } %>
		</div>
		<div style="display: flex; justify-content: space-between; float: left; margin-top: 130px;">
			<a href="http://mon.gov.ua/"><img class="banner" src="/pages/MainPage/images/monu.jpeg"/></a>
			<a href="http://chnu.edu.ua/"><img class="banner" src="/pages/MainPage/images/chnu_banner.jpeg"/></a>
			<a href="http://oblosvita.com/"><img class="banner" src="/pages/MainPage/images/oda.jpeg"/></a>
			<a href="http://testportal.gov.ua/"><img class="banner" src="/pages/MainPage/images/quality.jpg"></a>
		</div>
		<div style="display: flex; justify-content: space-between; float: left; margin-left: 10px;">
			<a href="http://la-strada.org.ua/"><img class="banner2" src="/pages/MainPage/images/la_strada.gif"/></a>
			<a href="http://www.chnu.edu.ua/index.php?page=ua/gum_osvita/02%20stud_parlam"><img class="banner2" src="/pages/MainPage/images/parlament.jpg"/></a>
			<a href="http://studprofkom.cv.ua/"><img class="banner2" src="/pages/MainPage/images/profspilka.jpg"/></a>
			<a href="http://pedpresa.com.ua/"><img class="banner2" src="/pages/MainPage/images/ped-presa.jpg"/></a>
			<a href="http://www.stud-job.cv.ua/"><img class="banner2" src="/pages/MainPage/images/robota.jpg"/></a>
			<a href="http://la-strada.org.ua/"><img class="banner2" src="/pages/MainPage/images/la_strada2.gif"/></a>
		</div>
	</div>
</div>
</body>
</html>
